header{
    padding-bottom: 3%;
    padding-top: 3%;
}


#videoList i{
    vertical-align: -20%;
}

.uploadInput{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


#uploadArea label{
    background-color: blue;
    color:white;
    border-style: none;
    padding: 1%;
    cursor: pointer;
    font-size: 1.4em;
}


#searchForm{
    float: right;
    border-style: solid;
    padding: 0;
    width: 75%;
    font-size: 1.5em;
}

#searchField{
    border-style: none;
    outline: none;
    margin-left: 2%;



}

#searchSubmit{
    background-color: blue;
    border-style: none;
    vertical-align: -20%;
    font-size: 1.5em;
    float: right;
    cursor: pointer;
    color: white;
}

#videoSummary{
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 1px;

}


#videoSummary label{
    margin-right: 1%;
    font-weight: bold;
}

#videoSummary p{
    text-transform: capitalize;
}

#videoSummary input{
    color: white;
    background-color: #222222;
    border-style: none;
    padding: 1px 5px;
    cursor: pointer;
}

#videoSummary #videoStatus{
    padding: 1px 5px;
    color:white;
    text-transform: uppercase;
}

#videoStatus.ready{
    background-color: green;
}

#videoStatus.failed{
    background-color: red;
}

#videoStatus.processing, #videoStatus.updating, #videoStatus.created{
    background-color: yellow;
}








#saveDetails{
    background-color: #ffffff;
    color: #999999;
    border-style: solid;
    border-color: #999999;
    border-width: 1pt;
}


#saveDetails.active{
    background-color: green;
    color: white;
    cursor: pointer;

}


#saveDetails.active:active{
    background-color: white;
    color: green;

}

.row{
    margin-bottom: 2%;
}

textarea{
    resize: none;
}

#saveButtons{
    float: right;
}

#formHeader{
    padding-bottom: 2%;
    border-bottom-style: solid;
    border-color: #CCCCCC;
    border-width: 1px;
}


#titleField input{
    width: 100%;
    position:absolute;
    margin-right: 0;
    padding-left: 10px;

}

#titleField i{
    position: absolute;
    left:95%;
    color: #BBBBBB;
    margin-top:1.5%;
}


#formHeader{
    font-size: 1.3em;
}

#embedButton{
    margin-left:1%;
    color: #ffffff;
    background-color: blue;
    border-style: none;
    cursor: pointer;
}

#embedButton:hover{
    background-color: darkblue;

}

#embedScreen{
    position: absolute;
    width:100%;
    height:100%;
    z-index: 1;
    background-color: #000000;
    opacity: .75;
    left:0;
    top:0;

}

#embedDetails{
    width: 50%;
    background-color: #ffffff;
    z-index: 2;
    position: absolute;
    top:25%;
    left:25%;
    padding-bottom: 2%;

}

#embedHeader{
    border-bottom-style: solid;
    border-color: #CCCCCC;
    border-width: 1px;
    width:90%;
    margin-left: 5%;
    margin-top: 2%;
    text-align: center;

}

#embedCode pre{
    background-color: #333333;
    color: white;
    width: 85%;
    margin-left: 7.5%;
    white-space: pre-line;
    padding: 2%;
    font-size: 1em;
}

#embedClose{
    float: right;
    margin-right: 5%;
}


#deleteVideo{
    float: right;

}















