{% extends 'base.html' %}
{% block body%}

<div id="videoList">
    <table>
        <tr id='listHeaders'>
            <th><input type="checkbox" name="selectAll" onchange="selectAll(this);"></th>
            <th>THUMBNAIL</th>
            <th class="sortHeader">
                <a id="title" href="" onclick="changeSortOrder(this); return false;" >
                TITLE
                <i class="material-icons" style="opacity: 100;">arrow_drop_up</i></a>
            </th>
            <th>KEY</th>
            <th class="sortHeader">
                <a id="duration" href="" onclick="changeSortOrder(this); return false;" >
                    DURATION
                <i class="material-icons" style="opacity: 0;">arrow_drop_up</i></a>
            </th>
            <th class="sortHeader">
                <a id ="date" href="" onclick="changeSortOrder(this); return false;" >
                    PUBLISH DATE
                <i class="material-icons" style="opacity: 0;">arrow_drop_up</i></a>
            </th>
        </tr>

        {% for video in videos %}
        <tr>
            <td><input type="checkbox" name="select" id="{{ video.key }}"></td>
            <td><img src="{{ video.thumbnails.720 }}" width = 70 /></td>
            <td class="title"><a href="http://localhost:8000/jw/details/{{ video.key }}"> {{ video.title }} </a></td>
            <td>{{ video.key }}</td>
            <td>{{ video.duration }}</td>
            <td>{{ video.date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
