{% extends 'base.html' %}
{% block body%}
<header class="container">
<div class="row">
    <div id="uploadArea" class="col-md-3">
        <form id="uploadForm" method="POST" action="" enctype="multipart/form-data" target="submission.frame" onsubmit="uploadSuccess();">
        {% csrf_token %}
            <fieldset>
                <input id="upload" class="uploadInput" type="file" name="file" onchange='getUploadURL(this);'>
                <label id="uploadLabel" for="upload">Add Video</label>
                <input class="uploadInput" id="uploadFile" type="submit">
            </fieldset>
            <iframe name="submission.frame" hidden></iframe>
        </form>
    </div>



    <div id='searchArea' class="col-md-6">
        <form id="searchForm" name='searchForm' onsubmit='applySearch(); return false;' action='' method=''>
                <input type='text' name='searchField' id='searchField' value='SEARCH' onFocusIn="searchFocusChange(this);" onFocusOut="searchFocusChange(this);" style='color:grey;'>
                <input class="material-icons" id="searchSubmit" type="submit" name="searchSubmit"  value="search" >
                <!--   <label for="searchSubmit" class="material-icons" id="searchLabel">search</label> -->
        </form>
    </div>
</div>
</header>



<div id="videoList" class="container">
    <table id="videoTable" class="table">
        <tr id="listHeaders">
            <th><input type="checkbox" name="selectAll" onchange="selectAll(this);"></th>
            <th>THUMBNAIL</th>
            <th class="sortHeader">
                <a id="title" href="" onclick="changeSortOrder(this); return false;" >
                TITLE
                <i class="material-icons" style="opacity: 100;">arrow_drop_up</i></a>
            </th>
            <th>KEY</th>
            <th class="sortHeader">
                <a id="duration" href="" onclick="changeSortOrder(this); return false;" >
                    DURATION
                <i class="material-icons" style="opacity: 0;">arrow_drop_up</i></a>
            </th>
            <th class="sortHeader">
                <a id ="date" href="" onclick="changeSortOrder(this); return false;" >
                    PUBLISH DATE
                <i class="material-icons" style="opacity: 0;">arrow_drop_up</i></a>
            </th>
        </tr>

        {% for video in videos %}
        <tr >
            <td><input type="checkbox" name="select" id="{{ video.key }}"></td>
            <td><img src="{{ video.thumbnails.720 }}" width = 70 /></td>
            <td class="title"><a href="./details/{{ video.key }}"> {{ video.title }} </a></td>
            <td>{{ video.key }}</td>
            <td>{{ video.duration_as_time }}</td>
            <td>{{ video.date_as_datetime }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
