{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row" id="pageHeader">
        <div class="col-med-12">
            <h1>Video Detail</h1>
        </div>
    </div>

    <form id = 'detailsForm' name='{{ video.key }}' method="POST" action="" target = submission.frame onsubmit="deactivateSave()">
    {% csrf_token %}

        <div class="row" id="formHeader">
            <div class="col-md-3" id="titleField">
                <input id="{{ video.title }}" class= "editable" type="text" name="title" value = "{{ video.title }}" onfocusout="activateSave()">
                <i class="material-icons">mode_edit</i>
            </div>
            <div class="col-md-9" id="primaryButtons">
                <button id="embedButton" type="button" onclick="document.getElementById('showEmbed').hidden=false;">Embed</button>
                <div id="saveButtons">
                    <a href=".."><button type="button">Close</button></a>
                    <button type="submit" id="saveDetails">Save</button>
                </div>
            </div>
        </div>

        <div class="row" id="primaryInfo">
            <div id="videoEmbed" class="col-md-6 col-md-offset-1">
                <script src="{{ embed }}"></script>
            </div>

            <div id="videoSummary" class="col-md-6">
                <h2>Video Summary</h2>
                <div id="summaryItems" class="container">
                    <div class="row">
                        <label class="col-md-3">Status:</label>
                        <p class="{{ video.status }}" id="videoStatus">{{ video.status }}</p>
                    </div>
                    <div class="row">
                        <label class="col-md-3">Type:</label>
                        <p>{{ video.media_type }}</p>
                    </div>
                    <div class="row">
                        <label class="col-md-3">Duration:</label>
                        <p>{{ video.duration_as_time }}</p>
                    </div>
                    <div class="row">
                        <label class="col-md-3">Media ID:</label>
                        <input type="text" onClick="this.select();" value="{{ video.key }}" readonly="readonly" size="8";>
                    </div>
                </div>
            </div>
        </div>
        <div id="deleteVideo">
                <a href="#" onclick="deleteVideo('{{ video.key }}')">Delete this video</a>
        </div>


        <div class="row" id="tabNavigation">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" onclick="activateTab(this);return false;" href="#">METADATA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="activateTab(this); return false;" href="#">TAGS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="activateTab(this); return false;" href="#">TRACKS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="activateTab(this); return false;" href="#">SOURCES</a>
              </li>
            </ul>
        </div>

        <div class="row page" id="metadata">
            <div class="col-md-6" id="metadataLeft">
                <div class="container" >
                    <div class="row" id="posterImage">
                        <div id="thumbnail" class="col-md-4" >
                            <h6>Poster Image Ready</h6>
                            <img src="{{ video.thumbnails.720 }}" width="100%"/>
                        </div>
                    </div>
                    <div class="row" id="description">
                        <div class = "col-md-10">
                            <h6>Description</h6>
                            <textarea
                                name="description"
                                id = '{{ video.description }}'
                                class= "editable"
                                form="detailsForm"
                                rows="5"
                                cols="40"
                                onfocusout="activateSave()"
                                >{{ video.description }}</textarea>
                        </div>
                    </div>
                    <div class="row" id="permalink">
                        <div class="col-md-6">
                            <h6>Video Page Permalink</h6>
                            <input
                            size="41"
                            id=""
                            class= "editable"
                            type="text"
                            name="permalink"
                            value = ""
                            onfocusout="activateSave()"
                            >
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="metadataRight">
                <div class="container">
                    <div class="row" id="publishStart">
                        <div class="col-md-6">
                            <h6>Publish Start Date</h6>
                            <input
                            id=""
                            class= "editable"
                            type="text"
                            name="permalink"
                            value = ""
                            onfocusout="activateSave()"
                            >
                        </div>
                        <div class="col-md-6">
                            <h6>Publish Start Time(UTC)</h6>
                            <input
                            id=""
                            class= "editable"
                            type="text"
                            name="permalink"
                            value = ""
                            onfocusout="activateSave()"
                            >
                        </div>
                    </div>

                    <div class="row" id="publishEnd">
                        <div class="col-md-6">
                            <h6>End Date</h6>
                            <input
                            id=""
                            class= "editable"
                            type="text"
                            name="permalink"
                            value = ""
                            onfocusout="activateSave()"
                            >
                        </div>
                        <div class="col-md-6">
                            <h6>End Time (UTC)</h6>
                            <input
                            id=""
                            class= "editable"
                            type="text"
                            name="permalink"
                            value = ""
                            onfocusout="activateSave()"
                            >
                        </div>
                    </div>

                    <div class="row" id="customParams">
                        <div class="col-md-6">
                            <h6>Name</h6>
                            <input
                            id=""
                            class= "editable"
                            type="text"
                            name="permalink"
                            value = ""
                            onfocusout="activateSave()"
                            >
                        </div>
                        <div class="col-md-6">
                            <h6>Value</h6>
                            <input
                            id=""
                            class= "editable"
                            type="text"
                            name="permalink"
                            value = ""
                            onfocusout="activateSave()"
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row page" id="tags" hidden>
            <div class="col-md-6" id="addTags">
                <h6>Add a tag</h6>
                <input
                        id=""
                        class= "editable"
                        type="text"
                        name="tag"
                        value = ""
                        onfocusout="activateSave()"
                        >
            </div>
            <div class="col-md-6" id="currentTags">
                <h6>Current Tags</h6>
                {% for tag in video.tags %}
                <p>{{ tag }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="row page" id="sources" hidden>
            <table class='table'>
            <tr>
                <th>Name</th>
                <th>File Type</th>
                <th>Dimensions(px)</th>
                <th>File Size</th>
                <th>Download</th>
                <th>Links</th>
            </tr>

                {% for conversion in conversions %}
            </tr>
                <td>{{ conversion.template.name }}</td>
                <td>{{ conversion.template.format.key }}</td>
                <td>{{ conversion.height }}x{{ conversion.width }}</td>
                <td>{{ conversion.filesize }}</td>
                <td>-</td>
                <td>-</td>
            </tr>
                {% endfor%}
            </table>

        </div>
        <div class="row page" id="tracks" hidden>
            <table class='table'>
            <tr>
                <th>Name</th>
                <th>Kind</th>
                <th>Format</th>
                <th>Status</th>
                <th>Links</th>
            </tr>

                {% for track in tracks %}
            </tr>
                <td>{{ track.label }}</td>
                <td>{{ track.kind }}</td>
                <td>{{ track.format }}</td>
                <td>{{ track.status }}</td>
                <td>-</td>
            </tr>
                {% endfor%}
            </table>

        </div>


    </form>
</div>

<div id="showEmbed" hidden>
    <div id="embedDetails" class="container">
        <div id="embedHeader" class="row">
        <h3 class="col-md-12">GENERATE EMBED CODE</h3>
        </div>
        <div id="embedCode" class="row">
            <pre>&lt;script
            src='{{ embed }}'&gt;
        &lt;/script&gt;</pre>
        </div>
        <button id="embedClose" onclick="document.getElementById('showEmbed').hidden=true;">Close</button>



    </div>
    <div id="embedScreen" onclick="document.getElementById('showEmbed').hidden=true;">
    </div>
</div>
<iframe name="submission.frame" hidden></iframe>
{% endblock %}






